@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);
@import url(https://fonts.googleapis.com/css?family=Sacramento);


* {
	padding: 0;
	margin: 0;
}
/*wipes out any default padding and margin in ANY html in user agent
style sheet and compresses site and compress blocks*/

body {
	font-family: Arial, helvetica, sans-serif;
	font-size: 16px; /*1em =16px*/
	color: #222222;
	text-align: center;
}
/*most of the site is the body*/

header {
	background-color: #FF235D;
	padding: 20px;
}


h1 {
	color: white;
	font-family: 'Didact Gothic', sans-serif;
	text-align: center;
}


a {
	color: #FF235D;
	text-decoration: none;
}
/*get rid of that blue/purple style when clicked
*/

nav a {
	color: #6B7273;
	font-style: italic;
	margin: 20px; /*equal amount of space all around*/
	text-align: center;
}

img {
	width: 100%;
}
/*sizes image to be 100% responsive
*/
h2 {
	font-family: 'Sacramento', cursive;
	text-align: center;
	font-style: italic;
	font-weight: 100;
	font-size: 2.2em;
}

p {

}

footer {
	background-color: #FF235D;
	padding: 20px;
	text-align: center;
}
