@import url(https://fonts.googleapis.com/css?family=Arya);
@import url(https://fonts.googleapis.com/css?family=Meddon);

body { 
	color:rgb(01,45,46);
	background-image:url(../images/keyna_mtn_background.jpg);
	background-size: cover;
	text-align: center;
}

h1 {
	color:#FF005D;
	font-size: 40px;
	font-family: 'Arya', sans-serif; Veranda, Arial;
	font-weight: 200;
	text-align: center;
	text-decoration: underline;
}

#slogan {
	font-size: 25px;
	font-family: 'Meddon', cursive; Veranda, Arial;
	font-style: italic;
	font-weight: 100;
	text-align: center;
}

h3 {
	color: green;
	font-size: 20px;
	font-family: Veranda, Arial;
	font-weight: 400;
	text-align: left;
	text-decoration: underline;
}

h4 {
	color: red;
	font-size: 15px;
	font-family: Veranda, Arial;
	font-weight: 400;
	text-align: left;
	text-decoration: underline;
    list-style-type: none;
}


p {color:black;
	font-size: 15px;
	font-family: Veranda, Arial;
	text-align: left;
	
}
ul {
    text-align: center;
    list-style-type: none;
}


