body { 
	color:rgb(01,45,46);
	background-image:url(../images/img_one.jpg);
	background-size: cover;
	text-align: center;

}

h1 {
	color:#FF005D;
	text-align: center;
	text-decoration: underline;
}

p {text-align: left;
	font-family: Arial, san-serif;
}

#slogan {
	font-style: italic;
	text-align: center;
	font-weight: 600;
}

